body{
    display: flex;
    flex-direction: column;     /* main axis = y axis */
    align-items: center;        /* cross axis = x axis */
    font: 1.6vw sans-serif;      /* body text (= 1/3 the size of heading 1 */
    overflow-x: hidden;
}

#logo{
    font: 5vw serif;            /* heading 1 */
    font-weight: bold;
    width: 100vw;
    text-align: center;
}

.slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.slide_title{
    font-size: 3.3vw;
}

.slide_contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.picture_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.slide_picture{
    width: 100%;
    border: 0.25vw solid black;
}

.picture_caption{
    font-size: 1.3vw;
    margin-top: 1vw;
    text-align: center;
}

.slide_text{
    width: 45%;
    text-align: justify;
}

.slide_text li{
    margin-bottom: 1vw;
}