body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    /* alignment along main (y) axis */
    align-items: center;    /* alignment along perpendicular (x) axis */
    font: 2.6vw sans-serif;    /* body text (= 1/3 the size of heading 1 */
    overflow-x: hidden;
}

#logo{
    font: 8vw serif;    /* acts as heading 1 */
    margin-top: 1vw;
    width: 100vw;
    text-align: center;
    font-weight: bold;
}

.map_title{
    font-size: 5.3vw; /* heading 2 (= 2/3 the size of heading 1 */
    width: 100vw;
    text-align: center;
    font-weight: bold;
}

.map_box{
    width: 60vw;
    height: 40vw;
    border: 0.5vw solid black;
}

#country_title{
    margin-top: 10vw;
}

